<app-toolbar></app-toolbar>
<app-nav-pills></app-nav-pills>

<div class="home-carousel">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-6 home-carousel-msg">
                <div class="card-body">
                    <h5 class="card-title">Bienvenidos a la página de inicio del sistema documentacional de ZofraCobija
                    </h5>
                    <br>
                    <p class="card-text">En esta página podrá revisar, actualizar, eliminar y agregar los diferentes
                        documentos manejados por el bloque de administrativo y demás usuarios permitidos.
                        Use este sistema para ayudar en su trabajo y ayudemos a ZOFRACOBIJA a ir “Rumbo a la
                        industrialización”.</p>
                </div>
            </div>
            <div id="carouselExampleAutoplaying" class="carousel slide col-md-6" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/zofra1.jpg" class="d-block w-100 h-100" alt="zofra1">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/zofra2.jpg" class="d-block w-100" alt="zofra2">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>